@page "/"

<div style="    text-align: center;margin-top: 65vh;color: aliceblue;font-weight: bold;font-size: 24px;height: 100%;">
    欢迎来到 Gotrays Desktop<br/>
    <span style="font-size:14px;">
        这里将给你带来.NET 的极致体验！
    </span>
</div>